<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agrictech.techrice">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/farmhelp_icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/farmhelp_icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.agrictech.techrice.activities.Dashboard" />


        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_test_b407f054b4654023ba0a136cc59e45087a2a9cf3"/>

        <activity
            android:name=".activities.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity android:name=".activities.WalkthroughActivity">

        </activity>
        <activity android:name=".activities.BuyInputActivity"
            android:parentActivityName="com.agrictech.techrice.activities.Dashboard"/>
        <activity android:name=".activities.ConfirmDeliveryActivity"
            android:parentActivityName="com.agrictech.techrice.activities.Dashboard"/>
        <activity android:name=".activities.ConsultantActivity"
            android:parentActivityName="com.agrictech.techrice.activities.Dashboard"/>
        <activity android:name=".activities.CropCalendarActivity"
            android:parentActivityName="com.agrictech.techrice.activities.Dashboard"/>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.PaymentActivity"
            android:parentActivityName="com.agrictech.techrice.activities.Dashboard"/>
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.SettingsActivity"
            android:parentActivityName="com.agrictech.techrice.activities.Dashboard"/>
        <activity android:name=".activities.TransactHistoryActivity"
            android:parentActivityName="com.agrictech.techrice.activities.Dashboard"/>
        <activity android:name=".activities.DetailCalendarActivity"
           />


        <receiver
            android:name=".alarm.NotificationPublisher" />

    </application>

</manifest>